@model Nop.Plugin.Payments.Walletmix.Models.ConfigurationModel
@inject Nop.Core.IWebHelper webHelper
@{
    Layout = "_ConfigurePlugin";
}

@await Component.InvokeAsync("StoreScopeConfiguration")

@*<script>
	$(document).ready(function () {
        $("#@Html.IdFor(model => model.PassProductNamesAndTotals)").click(togglePassProductNamesAndTotals);
	    togglePassProductNamesAndTotals();
	});

    function togglePassProductNamesAndTotals() {
        warningValidation('@Url.Action("RoundingWarning", "PaymentPayPalStandard")', '@Html.NameFor(model => model.PassProductNamesAndTotals)',
            { passProductNamesAndTotals: $('#@Html.IdFor(model => model.PassProductNamesAndTotals)').is(':checked') });
    }
</script>*@

<form asp-controller="PaymentWalletmix" asp-action="Configure" method="post">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                @*@Html.Raw(T("Plugins.Payments.Walletmix.Instructions", $"{webHelper.GetStoreLocation()}Plugins/PaymentWalletmix/PDTHandler"))*@
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="UseSandbox_OverrideForStore" asp-input="UseSandbox" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="UseSandbox" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="UseSandbox" />
                        <span asp-validation-for="UseSandbox"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="SandboxURL_OverrideForStore" asp-input="SandboxURL" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="SandboxURL" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="SandboxURL" />
                        <span asp-validation-for="SandboxURL"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="MerchantID_OverrideForStore" asp-input="MerchantID" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="MerchantID" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="MerchantID" />
                        <span asp-validation-for="MerchantID"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="WebsiteName_OverrideForStore" asp-input="WebsiteName" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="WebsiteName" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="WebsiteName" />
                        <span asp-validation-for="WebsiteName"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="Currency_OverrideForStore" asp-input="Currency" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="Currency" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="Currency" />
                        <span asp-validation-for="Currency"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="AccessUsername_OverrideForStore" asp-input="AccessUsername" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="AccessUsername" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="AccessUsername" />
                        <span asp-validation-for="AccessUsername"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="AccessPassword_OverrideForStore" asp-input="AccessPassword" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="AccessPassword" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="AccessPassword" />
                        <span asp-validation-for="AccessPassword"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="CallbackURL_OverrideForStore" asp-input="CallbackURL" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="CallbackURL" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="CallbackURL" />
                        <span asp-validation-for="CallbackURL"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="AccessAppKey_OverrideForStore" asp-input="AccessAppKey" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="AccessAppKey" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="AccessAppKey" />
                        <span asp-validation-for="AccessAppKey"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="AdditionalFee_OverrideForStore" asp-input="AdditionalFee" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="AdditionalFee" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="AdditionalFee" />
                        <span asp-validation-for="AdditionalFee"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="AdditionalFeePercentage_OverrideForStore" asp-input="AdditionalFeePercentage" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="AdditionalFeePercentage" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="AdditionalFeePercentage" />
                        <span asp-validation-for="AdditionalFeePercentage"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-9 col-md-offset-3">
                        <input type="submit" name="save" class="btn bg-primary" value="@T("Admin.Common.Save")" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>